*{
    margin: 0;
    padding: 0;

}

.logo{
    width: 200px;
    height: auto;
    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    z-index: 1;
}
nav{
    flex: 1;
    text-align: right;
    z-index: 2;
}
.icon{
    width: 15px;
    height: auto;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    justify-content: space-around;

}
nav li{
    font-family: Nunito Regular, sans-serif;
    font-size:12px;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #373737;
}
p{
    color: #898989;
    font-size: 12px;
    font-family: Nunito Light, sans-serif;
}
.container{
    max-width: 1350px;
    margin: auto;
    padding-left: 2px;
    padding-right: 2px;
}
.navbar a:hover{
    border-bottom: 2px solid #005C66;

}

.banner{
    width: 100%;
    height: auto;
    background-size: 100% 50%;
    justify-content: space-between;
    position: relative;
   
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-5{
    flex-basis: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
}
.col-5 h1{
    font-size: 30px;
    line-height: 60px;
    margin: 25px 0;
}

.search-box{
    position: absolute;
    top: 50%;
    transform: translate (-50%,-50%);
    background: #F6F6F6;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-txt{
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-btn{
    color: #FF7070;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 1;
    color: #F6F6F6;
    font-size: 12px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6em;
    justify-content: left;
}
.header{
    background: #F6F6F6;
}

.categories{
    margin: 70px 0;

}

/*.col-3{
    flex-basis: 30%;
    width: 250px;
    height: auto;
    margin-bottom: 30px;
} 

.col-3 img{
    width: 100%;
}*/

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}



.button{

    justify-content: space-around;
    align-items:center;
}

.button button-1{
    width: 180px;
    color: #373737;
    font-size: 12px;
    padding: 12px 0;
    background: #F6F6F6;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    font-family: Nunito Regular, sans-serif;
}

.button button-2{
    width: 180px;
    color: #F6F6F6;
    font-size: 12px;
    padding: 12px 0;
    background: #FF7070;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    font-family: Nunito Regular, sans-serif;
}

.text{
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Garamond Bold;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    color: #FFFF;
    width: 70%;
}


.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0,5s;
}

.col-4 img{
    width: 180px;
    height: 300px;
    object-fit: cover; 
    margin: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: flex-start;
    margin: 40px auto 30px;
    position: relative;
    line-height: 60px;
    color: #373737;
    font-size: 2em;
    border-bottom: 1px solid #373737;
}

h4{
    font-family: Nunito Regular, sans-serif;
    font-size: 12px;
    color: #373737;
}

.rating .fa{
    color: #005C66;
}

.col-4:hover{
    transform: translateY(-5px);
}

.engagement{
    background: #F6F6F6;
    margin-top: 110px;
    padding: 30px 0;
    margin-bottom: 110px;

}

.col-2{
    flex-basis: 50%;
    min-width: 300px;

}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}


/* CECI N'A PAS MARCHÉ POUR LES BOUTONS

.bouton a {
    display:flex;
    justify-content: space-between;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    background:#373737 no-repeat;
    color:white;
    text-decoration:none;
    }
    .bouton a:hover {
    background:#FF7070 no-repeat;
    float:left;
    margin:6px;
    }*/

.btn{
    display: inline-block;
    background: #e2e2e2;
    color: #373737;
    padding: 8px 25px;
    margin: 30px 0;
    border-radius: 30px;
    font-family: Nunito Regular, sans-serif;
}

.btn2{
    display: inline-block;
    background: #FF7070;
    color: #F6F6F6;
    padding: 8px 25px;
    margin: 30px 0;
    border-radius: 30px;
    font-family: Nunito Regular, sans-serif;
}


.block img{
    block-size: 150px;
    writing-mode: horizontal-tb;
}

.text-2{
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: nunito regular, sans-serif;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%;
    color: #FFFF;
    width: 70%;
}

.col-2 a{
    font-family: Nunito Regular, sans-serif;
    font-size: 12px;
    color: #F6F6F6;
    position: relative;
    z-index: 2;
    flex-direction: column;
}

.col-2 h4{
    color: #FFFF;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.column-1{
    justify-content: left;
}

.left-part{
    font-family: Nunito Regular, sans-serif;
    font-size: 12px;
    color: #F6F6F6;
    position: relative;
    z-index: 2;
    text-align: center;
    min-width: 200px;
    margin-bottom: 50px;
}

.left-part h4{
    margin-bottom: 20px;
}

.underline{
    text-decoration: underline;
}

.banner{
    width: 100%;
    height: auto;
    background-size: 100% 50%;

    
}

.background img{
    position: absolute;
    z-index: 1;
    width: 800px;
    height: 1000px;
    top: 210em;
    justify-content: center;
    align-items: center;

}

.banner-2{
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    top: 30px;
}

.column{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.footer{
    background: #F6F6F6;
    font-family: Nunito Regular, sans-serif;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer h3{
    margin-bottom: 20px;
}

.footer-col, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col{
    flex-basis: 30%;

}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-3 img{
    width: 180px;
    height: auto;
    margin-bottom: 20px;
    flex-basis: 12%;
    text-align: left;
}

ul{
    list-style-type: none;
}

.app-logo{
    min-width: 250px;
    margin-bottom: 20px;
    text-align: center;
}

.app-logo img{
    width: 30px;
    height: auto;
    margin-bottom: 60px;
    flex-basis: 12%;
    justify-content: space-between;
}

/***********RESPONSIVE***********/

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/************Media query menu**************/


@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #373737;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: #F6F6F6;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/************Media query moins de 600**************/

@media only screen and (max-width: 800px){
    .row{
        text-align: center;
    }
    .col-2, .col-4, .col-4 img, .col-5{
        flex-basis: 100%;
    }
}






/*
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/markus-spiske-4PG6wLlVag4-unsplash.jpg);
    background-position: center;
    background-size: contain;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 200px;
    height: auto;
    cursor: pointer;
}

.heart{
    width: 15px;
    height: auto;
    margin-left: 40px;
}

.nav{
    flex: 1;
    text-align: center;
}
